@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap");
/* reset code */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  /* overflow-x: hidden; */
}

/* color:

tint generator
*/
/* variables */
:root {
  --grey-color: #fdf8e1;
  --primary-color: #e07704;
  --secondary-color: #fa901d;
  --colored-text: #4b2801;
  --text-color: #fef3e6;
  --icon-color: #fba94f;
}
/* :root {
  --grey-color: #b5d7c1;
  --primary-color: #076c2b;
  --secondary-color: #218645;
  --colored-text: #02240e;
  --text-color: #fef3e6;
  --icon-color:#52a16e;
} */
/* scrollbar */

body::-webkit-scrollbar {
  width: 8px;
  background-color: #e9e6e6;
  color: var(--primary-color) !important;
}
body::-webkit-scrollbar-thumb {
  background-color: #d6d5d5;
  border-radius: 333px;
  transition: all 0.3s;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #a1a1a1;
  color: var(--primary-color) !important;
}

strong {
  font-size: 500;
}
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
}

/* body {

} */

/* ******************************** */
/* General*/
/* ******************************** */
.container {
  max-width: 120rem;
  margin: 0 auto;
  /* padding: 0 3.2rem; */
  padding: 0 3.2rem;
}
.text__center {
  text-align: center;
}
.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}
.responsive__grid {
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-gap: 2.4rem;
}
.grid__2__cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid__3__cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid__4__cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid__5__cols {
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 4.6rem;
  /* grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); */
}
.grid__center__v {
  align-items: center;
}
.grid__center__h {
  justify-items: center;
}
.btn,
.btn:link,
.btn:visited {
  color: var(--text-color);
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  font-size: 1.8rem;
  transition: background-color 0.5s;
  cursor: pointer;
  border: none;
  border-radius: 999px;
}

.btn__full:link,
.btn__full:visited {
  background-color: var(--secondary-color);
  color: var(--text-color);
  margin-bottom: 4.8rem;
  margin-right: 1.8rem;
  border: none;
}
.btn__full:hover,
.btn__full:active {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
}
.btn__outline:link,
.btn__outline:visited {
  background-color: #fff;
  color: var(--secondary-color);
  /* border: var(--text-color) 2px solid; */
  box-shadow: 0 0 0 3px var(--grey-color);
  transition: all 0.5s linear;
}
.btn__outline:hover,
.btn__outline:active {
  background-color: transparent;
  color: var(--secondary-color);
  box-shadow: 0 0 0 3px var(--text-color);
}
.primary__title,
.secondary__title,
.step__heading {
  font-weight: 700;
  letter-spacing: -0.5px;
  color: rgb(82, 74, 65);
  /* color: #80490f; */
  margin-bottom: 4.8rem;
}

.primary__title {
  font-size: 5.2rem;
  line-height: 1.05;
  /* text-decoration: underline; */
  text-transform: uppercase;
}
.secondary__title {
  font-size: 4.4rem;
  line-height: 1.2;
  text-transform: capitalize;
  letter-spacing: 0.75px;
  margin-bottom: 9.6rem;
}
.sub__title {
  display: inline-block;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--colored-text);
  margin-bottom: 1.6rem;
  letter-spacing: 1.75px;
}

/* auto__margin */
.margin__bottom__md {
  margin-bottom: 4.8rem !important;
}
.link:link,
.link:visited {
  display: inline-block;
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
  overflow: hidden;
}
